<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodFyl</title>
    <link rel="stylesheet" href="/foodfyl/static/css/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="split left">
        <h1>How It Works</h1>
        <a href="#" class="button">Read More</a>
      </div>
      <div class="split right">
        <h1>Join Us</h1>
        <a href="#" class="button">Login or Signup Here</a>
      </div>
      <div class="arrow">
        <div class="arrow-top"></div>
        <div class="arrow-bottom"></div>
      </div>
    </div>
    <script src="/foodfyl/static/js/index.js"></script>
  </body>
</html>
